html {
    height: 100%;
    min-height: 100%;
}

a {
    text-decoration: none; /* Remove underline from links */
    color: black;
    /* font-family: "PT Sans", sans-serif;*/
    font-family: Arial, sans-serif;
    font-size: 13px;
}

a:hover {
    text-decoration: underline;
}

/** NAVIGATION BAR AT TOP **/
#navbar {
    display: grid; /* Allows for use of CSS grid properties */
    grid-template-columns: repeat(2, 50px) 1fr repeat(4, 50px);
    grid-template-rows: 50px;
    grid-template-areas: 
    "about store . gmail images menu sign-in";
    margin: 0 20px;
}

#about {    
    grid-area: about; /* grid-area names the area, which can then be used with grid-template-areas */
    justify-self: center; /* Aligns a grid item inside a cell along the inline (row) axis */
    align-self: center; /* Aligns a grid item inside a cell along the block (column) axis */
}

#store {
    grid-area: store; 
    justify-self: center; 
    align-self: center; 
}

#gmail {    
    grid-area: gmail; 
    justify-self: center; 
    align-self: center; 
}

#images {    
    grid-area: images; 
    justify-self: center; 
    align-self: center; 
}

#menu {
    grid-area: menu; 
    justify-self: center; 
    align-self: center; 
}

#sign-in {
    grid-area: sign-in; 
    justify-self: center; 
    align-self: center;
    background-color: #4387FD;
    height: 30px;
    width: 60px;
    color: white;
    font-weight: bold;
    text-align: center;
    line-height: 30px; /* centers text vertically */
    border-radius: 2px;
}

/** SEARCH BAR SECTION **/
#main {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 200px 100px 175px;
    grid-template-areas: 
    ". logo ."
    ". search-bar ."
    ". flexbox .";
}

#logo {
    grid-area: logo;
    justify-self: center; /* center horizontally in cell */
    align-self: end; /* display at bottom of cell */
}

#search-bar {
    grid-area: search-bar;
    height: 35px;
    width: 130%;
    justify-self: center;
    align-self: center;
    border-radius: 20px;
    border: 1px solid rgb(218, 217, 217);
}

input:focus {
    outline: none; /* Removes automatic border that displays when a field is active */
}

#search-bar:hover {
    box-shadow: 1px 1px 5px rgb(218, 217, 217);
}

#search-bar:active {
    box-shadow: 1px 1px 5px rgb(218, 217, 217);
}

#flexbox {
    display: flexbox;
    grid-area: flexbox;
    justify-self: center; /* center horizontally in cell */
}

#search-btn {
    grid-area: search-btn;
    border: none;
    font-size: 14px;
    background-color: #F8F9FA;
    color: rgb(60, 64, 67);
    padding: 10px 13px 10px 13px;
    margin: 0 4px 0 0;
}

#search-btn:hover {
    border: 1px solid rgb(209, 208, 208);
    border-radius: 5px;
    box-shadow: 1px 1px 5px rgb(218, 217, 217);
}

#lucky-btn {
    grid-area: lucky-btn;
    border: none;
    font-size: 14px;
    background-color: #F8F9FA;
    color: rgb(60, 64, 67);
    padding: 10px 13px 10px 13px;
    margin: 0 0 0 4px;
}

#lucky-btn:hover {
    border: 1px solid rgb(209, 208, 208);
    border-radius: 5px;
    box-shadow: 1px 1px 5px rgb(218, 217, 217);
}

/** FOOTER **/
#footer {
    display: grid; /* Allows for use of CSS grid properties */
    grid-template-columns: repeat(2, 100px) 125px 1fr repeat(3, 80px);
    grid-template-rows: 40px;
    grid-template-areas: 
    "advertising business how-search-works carbon-neutral privacy terms settings";
    background-color: #f2f2f2;
    border-top: 1px solid #dadce0;
    align-self: end;
    position: fixed;    /* to lock footer to bottom */
    left: 0;            /* to lock footer to bottom */
    bottom: 0;          /* to lock footer to bottom */
    width:100%;         /* to lock footer to bottom */
}

#footer a {    
    font-size: 14px;
    color: #70757A;
}

#advertising {
    grid-area: advertising;
    justify-self: center;
    align-self: center;
}

#business {
    grid-area: business;
    justify-self: center;
    align-self: center;
}

#how-search-works {
    grid-area: how-search-works;
    justify-self: center;
    align-self: center;
}

#carbon-neutral {
    grid-area: carbon-neutral;
    justify-self: center;
    align-self: center;
}

#privacy {
    grid-area: privacy;
    justify-self: center;
    align-self: center;
}

#terms {
    grid-area: terms;
    justify-self: center;
    align-self: center;
}

#settings {
    grid-area: settings;
    justify-self: center;
    align-self: center;
}